:root {
    --theme-co: #343a40;
    --light-blue: #BDD5EA;
}
html, body {
    height: 100%;
}
.box {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.box.box-info {
    border-top-color: var(--theme-co);
}

.box-header {
    padding: 15px 10px;
}

.box-header>.box-tools {
    right: 0;
    top: 0;
    position: inherit;
}

.btn-group-xs>.btn,
.btn-xs {
    background-color: transparent;
    color: #30312e;
    font-size: 16px;
    border: none;
}

.btn-group-xs>.btn,
.btn-xs:hover {
    background-color: transparent;
    color: #727272;
    font-size: 16px;
    border: none;
}

.skin-blue .left-side,
.skin-blue .main-sidebar,
.skin-blue .wrapper {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.skin-blue-light .main-sidebar {
    background: var(--theme-co);
    color: #fff;
}

a.dt-button.copyButton {
    height: 30px;
    width: 30px;
    background: none;
    border: none;
    padding: 0;
    font-size: 24px;
    color: #008A81;
}
a.dt-button.copyButton:hover:not(.disabled),
a.dt-button.copyButton:active:not(.disabled),
a.dt-button.copyButton:focus:not(.disabled),
a.dt-button.copyButton:active:not(.disabled):hover:not(.disabled){
    background: none;
    box-shadow: none;
    text-shadow: none;
    border: none;
}
a.dt-button.copyButton:before {
    position: absolute;
    content: "\f0c5";
    font-family: 'Fira Sans', sans-serif;
    top: 0;
    left: 0;
}

a.dt-button.copyButton span {display: none;}

a.dt-button.csvButton {
    height: 25px;
    width: 30px;
    background: none;
    border: none;
    padding: 0;
    font-size: 24px;
    background: url(../img/backend/csv.svg) no-repeat;

}
a.dt-button.csvButton:hover:not(.disabled),
a.dt-button.csvButton:active:not(.disabled),
a.dt-button.csvButton:focus:not(.disabled),
a.dt-button.csvButton:active:not(.disabled):hover:not(.disabled){
    background: url(../img/backend/csv-hover.svg) no-repeat;
    box-shadow: none;
    text-shadow: none;
    border: none;
}
a.dt-button.csvButton:before {
    position: absolute;
    top: 0;
    left: 0;
}

a.dt-button.csvButton span {display: none;}

a.dt-button.excelButton {
    height: 30px;
    width: 30px;
    background: none;
    border: none;
    padding: 0;
    font-size: 24px;
}
a.dt-button.excelButton:hover:not(.disabled),
a.dt-button.excelButton:active:not(.disabled),
a.dt-button.excelButton:focus:not(.disabled),
a.dt-button.excelButton:active:not(.disabled):hover:not(.disabled){
    background: none;
    box-shadow: none;
    text-shadow: none;
    border: none;
}
a.dt-button.excelButton:before {
    position: absolute;
    content: "\f1c3";
    font-family: 'FontAwesome';
    top: 0;
    left: 0;
}

a.dt-button.excelButton span {display: none;}

a.dt-button.pdfButton {
    height: 30px;
    width: 30px;
    background: none;
    border: none;
    padding: 0;
    font-size: 24px;
}
a.dt-button.pdfButton:hover:not(.disabled),
a.dt-button.pdfButton:active:not(.disabled),
a.dt-button.pdfButton:focus:not(.disabled),
a.dt-button.pdfButton:active:not(.disabled):hover:not(.disabled){
    background: none;
    box-shadow: none;
    text-shadow: none;
    border: none;
}
a.dt-button.pdfButton:before {
    position: absolute;
    content: "\f1c1";
    font-family: 'Fira Sans', sans-serif;
    top: 0;
    left: 0;
}

a.dt-button.pdfButton span {display: none;}

a.dt-button.printButton {
    height: 30px;
    width: 30px;
    background: none;
    border: none;
    padding: 0;
    font-size: 24px;
}
a.dt-button.printButton:hover:not(.disabled),
a.dt-button.printButton:active:not(.disabled),
a.dt-button.printButton:focus:not(.disabled),
a.dt-button.v:active:not(.disabled):hover:not(.disabled){
    background: none;
    box-shadow: none;
    text-shadow: none;
    border: none;
}
a.dt-button.printButton:before {
    position: absolute;
    content: "\f02f";
    font-family: 'Fira Sans', sans-serif;
    top: 0;
    left: 0;
}

a.dt-button.printButton span {display: none;}
div.dataTables_wrapper div.dataTables_filter label input {width: 395px;}
.box-size {width: 87%;}
.skin-blue .sidebar-menu>li>.treeview-menu {margin: 0; padding: 0;}
.edit-form-btn{text-align: center; margin-bottom: 10px;}

body { font-family:'Fira Sans', sans-serif; }
.alert { padding: 10px 15px; margin-bottom: 15px; }
label { font-weight: 500; }
.box-header .box-title { line-height: 30px; }
.select2-dropdown { border-color: #ddd; }
.form-horizontal .control-label { font-weight: 500; }
.btn.focus, .btn:focus, .btn:hover { outline: none; }
.btn-group .btn.dropdown-toggle .caret { margin-left: 4px; }
.btn, .select2-dropdown, .select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; -ms-border-radius: 0; }
.select2-container--default .select2-selection--multiple, .select2-container--default .select2-selection--single { border-color: #ddd; padding-top: 2px; padding-bottom: 2px; height: 34px; }
.select2-container--default .select2-selection--multiple .select2-selection__choice { margin-top: 3px; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; -ms-border-radius: 2px; }
.btn-primary:hover,.btn-primary:active:hover,.btn-primary:active:focus, .btn-primary.active, .btn-primary:active,
.open>.dropdown-toggle.btn-primary, .open>.dropdown-toggle.btn-primary:focus, .btn-primary.focus, .btn-primary:focus {  outline: none; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; -ms-box-shadow: none; }
.btn-group .dropdown-menu { margin: 0; border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; -ms-border-radius: 0; }
:focus,:active, a:active, a:focus { outline: none; }
a:focus, a:hover { text-decoration: none; transition: background-color 0.3s ease 0s; -moz-transition: background-color 0.3s ease 0s; -webkit-transition: background-color 0.3s ease 0s; -ms-transition: background-color 0.3s ease 0s; }
.form-control { border-color: #ddd; border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; -ms-border-radius: 0; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; -ms-box-shadow: none; }
textarea.form-control { max-width: 100%; min-height: 50px; }
/*Custom Checkbox and Radio Buttons start*/
.control-group { display: block; text-align: left; padding: 0; margin: 3px 0 0; }
.control { display: inline-block; vertical-align: top; position: relative; padding-left: 32px; padding-right: 10px; cursor: pointer; font-size: 14px; line-height: 28px; font-weight: 500; }
.control input { position: absolute; z-index: -1; opacity: 0; }
.control__indicator { position: absolute; top: 3px; left: 0; height: 24px; width: 24px; border: 1px solid var(--theme-co); }
.control--radio .control__indicator { border-radius: 50%; }
.control input:disabled ~ .control__indicator { opacity: 0.6; pointer-events: none; }
.control__indicator:after { content: ''; position: absolute; display: none; }
.control input:checked ~ .control__indicator:after { display: block; }
.control--checkbox .control__indicator:after { left: 8px; top: 4px; width: 7px; height: 12px; border: solid var(--theme-co); border-width: 0 3px 3px 0; transform: rotate(45deg); }
.control--radio .control__indicator:after { left: 6px; top: 6px; height: 10px; width: 10px; border-radius: 50%; background: var(--theme-co); }
/* selectbox css */
::-moz-focus-inner, select:focus, select:active { outline: 0 !important; -moz-outline: 0 !important; }
.data-table-wrapper .dataTables_length label { position: relative; display: flex; width: 100%; }
.data-table-wrapper .dataTables_length label select{margin-left: 10px;margin-right:10px;}
.data-table-wrapper .dataTables_length label select,
.data-table-wrapper .dataTables_wrapper table.dataTable thead.transparent-bg th select.search-input-select { display: inline-block; width: 100%; height: 34px; cursor: pointer; padding: 0px 5px; outline: 0; border: solid 1px #d2d6de; border-radius: 0; background: #fff url("../img/backend/down-arrow.png") no-repeat scroll 91% center; background-size: 14%; color: #555; appearance: none; -webkit-appearance: none; -moz-appearance: none; }
.data-table-wrapper .dataTables_wrapper table.dataTable thead.transparent-bg th select.search-input-select { background-size: 9%; }
.data-table-wrapper .dataTables_length label select::-ms-expand,
.data-table-wrapper .dataTables_wrapper table.dataTable thead.transparent-bg th select.search-input-select::-ms-expand { display: none; }
.data-table-wrapper .dataTables_length label select:hover, .data-table-wrapper .dataTables_length label select:focus,
.data-table-wrapper .dataTables_wrapper table.dataTable thead.transparent-bg th select.search-input-select:hover,
.data-table-wrapper .dataTables_wrapper table.dataTable thead.transparent-bg th select.search-input-select:focus { color: #555; background-color: #fff; outline: none; -moz-outline: 0; }
.data-table-wrapper .dataTables_length label select:disabled,
.data-table-wrapper .dataTables_wrapper table.dataTable thead.transparent-bg th select.search-input-select:disabled { opacity: 0.5; pointer-events: none; }
/* .data-table-wrapper .dataTables_length label:before { position: absolute; top: 16px; right: 15px; width: 0; height: 0; pointer-events: none; border-style: solid; border-width: 8px 5px 0 5px; border-color: #7b7b7b transparent transparent transparent; }
.data-table-wrapper .dataTables_length label select:hover ~ .select__arrow, .data-table-wrapper .dataTables_length label select:focus ~ .select__arrow { border-top-color: #000; }
.data-table-wrapper .dataTables_length label select:disabled ~ .select__arrow { border-top-color: #ccc; } */
/*Custom Checkbox and Radio Buttons end*/

/*Custom Fileinputs start*/
.custom-file-input input[type=file] { display: none; }
.custom-file-input .inputfile + label { max-width: 100%; font-size: 14px; font-weight: 500; white-space: nowrap; cursor: pointer; display: inline-block; padding: 8px 12px; margin-bottom: 0; height: 36px; border:1px solid var(--theme-co) }
.custom-file-input .inputfile + label .fa { margin-right: 10px; }
.custom-file-input .inputfile:focus + label,.custom-file-input .inputfile.has-focus + label { outline: 1px dotted #000; outline: -webkit-focus-ring-color auto 5px; }

.custom-file-input label.label { color:#222; max-width: 100%; font-size: 11px; font-weight: 400; white-space: nowrap; cursor: pointer; display: inline-block; padding: 8px 12px; margin-bottom: 0; height: 26px; margin-top:5px; border:1px solid var(--theme-co) }
.custom-file-input label.label span{font-weight: 400!important;}
.custom-file-input label.label .fa { margin-right: 10px;color:#222; }

.remove_file.fal{
    background: #ddd;border: 1px solid #ccc;font-size: 11px;position: absolute;top: 3px;right: -5px;display: block;height: 18px;width: 18px;text-align: center;line-height: 18px;
}

/*Custom Fileinputs end*/
/*Datetimepicker CSS start*/
.bootstrap-datetimepicker-widget.dropdown-menu { font-family: 'Fira Sans', sans-serif; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; -ms-box-shadow: none; }
.bootstrap-datetimepicker-widget table tr td.active, .bootstrap-datetimepicker-widget table tr td span.active, .bootstrap-datetimepicker-widget table tr td span.active:hover { text-shadow: none; }

/*Datetimepicker CSS end*/
.mce-box .mce-panel { width: 87% !important; border-color: #ddd; }
.mce-box .mce-toolbar-grp, .mce-box .mce-edit-area, .mce-box .mce-statusbar { width: 100% !important; }
.form-control:focus,.select2-container--default.select2-container--focus .select2-selection--multiple { box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; -ms-box-shadow: none; }
.control-label.required::after { padding-left: 3px; color: red; content: "*"; display: inline-block; }
.border-left { border-left: 1px solid #ddd; }
.main-footer { display: none; }
.skin-blue-light .sidebar-menu>li>a { font-weight: 500; }
.skin-blue-light .sidebar-menu>li>.treeview-menu { padding-top: 10px; padding-bottom: 10px; }
.skin-blue-light .main-header .navbar { background-color: var(--theme-co) }
.skin-blue-light .sidebar-menu>li.active{ background-color: var(--theme-co) }
.skin-blue-light .sidebar-menu>li#hover{ background-color: var(--theme-co) }
.skin-blue-light .sidebar a { color: #fff;  }
.skin-blue-light .sidebar a { color: #fff;  }
.skin-blue-light .sidebar-menu>li.header {     background-color: var(--theme-co);   color: #fff; font-weight: bold; }

.sidebar-menu .treeview-menu>li>a { font-size: 13px; white-space: normal; }
.skin-blue-light .main-header .logo { height: 53px; line-height: 53px; background-color: #fff; color: var(--theme-co); font-family: 'Fira Sans', sans-serif;}
.btn-primary { color: #fff; background-color: var(--theme-co); border-color: rgba(0,0,0,.1);}
.btn-primary:hover {background: rgba(0,0,0,.8);}
.skin-blue-light .main-header .logo:hover, .skin-blue-light .main-header .navbar .sidebar-toggle:hover {     background: rgba(0,0,0,.1);
    color: #f6f6f6;}
.main-header .sidebar-toggle { height: 53px; }
.navbar-custom-menu>.navbar-nav>li>.dropdown-menu { padding: 0; }
.navbar-nav>.user-menu>.dropdown-menu>li.user-header { height: 75px; background: var(--theme-co)}
.navbar-nav>.user-menu>.dropdown-menu>.user-body { display: inline-block; width: 49%; vertical-align: middle; border-top: 0; border-bottom: 0; border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; -ms-border-radius: 0; }
.navbar-nav>.user-menu>.dropdown-menu>.user-footer { border-top: 1px solid #ddd; }
/*Datatable CSS*/
.data-table-wrapper .table>tbody>tr>td,.data-table-wrapper .table>tbody>tr>th, .data-table-wrapper .table>tfoot>tr>td, .data-table-wrapper .table>tfoot>tr>th, .data-table-wrapper .table>thead>tr>td, .data-table-wrapper .table>thead>tr>th { vertical-align: middle; }
.data-table-wrapper .dt-buttons { display: none; }
.data-table-wrapper .dataTables_wrapper .dataTables_filter { position: relative; }
.data-table-wrapper div.dataTables_wrapper div.dataTables_filter label { margin-bottom: 10px; }
.data-table-wrapper .dataTables_wrapper table.dataTable thead th { padding-right: 30px; white-space: nowrap; position: relative; }
.data-table-wrapper .dataTables_wrapper table.dataTable thead th, .data-table-wrapper .dataTables_wrapper table.dataTable thead td { border-bottom: solid 3px #ddd; background: #f8f8f8; }
.data-table-wrapper .dataTables_wrapper table.dataTable thead.transparent-bg th { padding: 8px; background: none; border-bottom: 0; }
.data-table-wrapper .dataTables_wrapper table.dataTable thead.transparent-bg th .form-control { font-weight: normal; padding: 6px; font-size: 13px; min-width: 100px; width: 100%; }
.data-table-wrapper .dataTables_wrapper table.dataTable thead.transparent-bg th a.reset-data,
.data-table-wrapper .dataTables_wrapper .dataTables_filter a.reset-data { position: absolute; right: 15px; top: 15px; color: #999; }
.data-table-wrapper .dataTables_wrapper .dataTables_filter a.reset-data { right: 10px; top: 5px; }
.data-table-wrapper .dataTables_wrapper table.dataTable thead.transparent-bg th a.reset-data:hover,
.data-table-wrapper .dataTables_wrapper table.dataTable thead.transparent-bg th a.reset-data:focus,
.data-table-wrapper .dataTables_wrapper .dataTables_filter a.reset-data:hover,
.data-table-wrapper .dataTables_wrapper .dataTables_filter a.reset-data:focus { color: #333; }
.data-table-wrapper .dataTables_wrapper table.dataTable.table-condensed .sorting:after, .data-table-wrapper .dataTables_wrapper table.dataTable.table-condensed .sorting_asc:after, .data-table-wrapper .dataTables_wrapper table.dataTable.table-condensed .sorting_desc:after { top: 10px; }
.data-table-wrapper .dataTables_wrapper table.dataTable.table-condensed .sorting_asc:after, .data-table-wrapper .dataTables_wrapper  table.dataTable.table-condensed .sorting_desc:after { color: #008A81; }
.data-table-wrapper .dataTables_wrapper .dataTables_paginate .paginate_button { padding: 0 !important; margin: 0 !important; border: 0 !important; }
.data-table-wrapper .dataTables_wrapper .dataTables_paginate .paginate_button.disabled { border-width: 0 !important; }
.data-table-wrapper .dataTables_wrapper.no-footer .dataTables_paginate .paginate_button:hover { background: none; background-color: transparent; border-color: transparent; }
.data-table-wrapper div.dataTables_wrapper.no-footer div.dataTables_paginate ul.pagination { margin-bottom: 0; }
.data-table-wrapper .dataTables_wrapper.no-footer .dataTables_scrollBody { border-bottom: solid 1px #ddd; }
.data-table-wrapper table.dataTable.no-footer { border-bottom: solid 1px #ddd; }
.data-table-wrapper div.dataTables_wrapper div.dataTables_processing { background: rgba(0, 0, 0, 0.75) none repeat scroll 0 0; border: 1px solid rgba(255, 255, 255, 1); box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5); color: #fff;  padding: 5px 0; z-index: 10; }
/*Action button*/
.data-table-wrapper .action-btn { min-width: 120px; }
.data-table-wrapper .action-btn .btn { padding: 4px 8px; font-size: 13px; }
.data-table-wrapper .action-btn .btn a, .data-table-wrapper .action-btn .btn a:hover, .data-table-wrapper .action-btn .btn a:focus { color: #333; }
/*.navbar-custom-menu>.navbar-nav>li>.dropdown-menu { right: auto; }*/
/*Notification list CSS start*/
ul.timeline.notification-list { margin-bottom: 10px; }
ul.timeline.notification-list::before { display: none; }
ul.timeline.notification-list>li:last-child { margin-bottom: 0; }
ul.timeline.notification-list>li:last-child>.timeline-item { border-bottom: 0; }
ul.timeline.notification-list>li>.timeline-item { margin-left: 0; margin-left: 0; border-bottom: 1px solid #f4f4f4; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; -ms-box-shadow: none; }
ul.timeline.notification-list>li>.timeline-item { margin-right: 0; }
ul.timeline.notification-list>li>.timeline-item>.timeline-header { border-bottom: 0; font-size: 15px; }
ul.timeline.notification-list>li>.timeline-item>.timeline-header>span.comment-hl { padding-right: 3px; font-weight: 600; }

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: var(--theme-co);
    border-color: var(--theme-co);
}

/* Tab CSS start */
.setting-tab-list.nav-tabs>li>a { color: #555; }
.tab-content.setting-tab { padding-top: 30px; }
.footer-btn { margin-bottom: 15px; }
/*Tab CSS end */

/*Boostrap Collapse CSS*/
.panel-body.js-tabcollapse-panel-body { box-shadow: inset 1px 1px 5px rgba(0,0,0,.15); }
.setting-block .panel-group .panel-heading { padding: 0; }
.setting-block .panel-group .panel-title>a { padding: 10px 15px; display: block; }

/*Responsive CSS start*/
@media screen and (max-width: 767px){
    .content-header > h1 { font-size: 21px; padding: 0 0 8px; }
    .table-responsive { padding: 10px; }
    .box-size, .mce-box .mce-panel { width: 100% !important; }

    .navbar-custom-menu .navbar-nav > li > a { padding: 15px 12px;  }
    .navbar-custom-menu>.navbar-nav>li>.dropdown-menu { left: auto; }
    .navbar-custom-menu>.navbar-nav>li>.dropdown-menu.lang-menu { right: auto; }
 }
 @media screen and (max-width: 992px){
    .navbar-custom-menu>.navbar-nav>li>.dropdown-menu { right: 3%; }
 }
 /*Responsive CSS end*/
 
 .brand-link{
	 height:50px!important;
	 line-height:30px;
	 font-size:21px;
	 padding-left:15px;
 }
 .content-wrapper{
	 margin-top:50px!important;
	 margin-left:5.2rem;
 }
.navbar-nav .nav-link{
	padding-top:0;
	padding-bottom:0;
}
.nav-sidebar{
	margin-top:100px!important;
}
.inline-block{
	display:inline-block!important;
}
.nav-pills>li+li{
	margin-right:2px;
}
.dataTable{
	width:100%!important;
}
.dataTables_filter, .dataTables_paginate{
	margin-left:auto!important;
}
.dropup .dropdown-menu{
	min-height:90px;
}
.dropup .dropdown-menu i{
	margin-right:5px;
}
.dropdown-toggle .caret{
	display:none;
}
.box-tools .btn-group.show{
	display:inline-block!important;
}
.navbar-nav>.user-menu>.dropdown-menu>.user-body{
	padding:5px!important;
}
.dd {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  max-width: 600px;
  list-style: none;
  font-size: 13px;
  line-height: 20px;
}
.dd-list {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}
.dd-list .dd-list {
  padding-left: 30px;
}
.dd-item,
.dd-empty,
.dd-placeholder {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 20px;
  font-size: 13px;
  line-height: 20px;
}
/*.dd-handle {
  display: block;
  height: 30px;
  margin: 5px 0;
  padding: 5px 10px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid #ccc;
  background: #fafafa;
  border-radius: 3px;
  box-sizing: border-box;
}*/
.dd-handle:hover {
  background: #fff;
  border: 1px solid gray;
}
.dd-item > button {
  position: relative;
  cursor: pointer;
  float: left;
  width: 25px;
  height: 20px;
  margin: 5px 0;
  padding: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  background: transparent;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  font-weight: bold;
}
.dd-item > button:before {
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  text-indent: 0;
}
.dd-item > button.dd-expand:before {
  content: '+';
}
.dd-item > button.dd-collapse:before {
  content: '-';
}
.dd-expand {
  display: none;
}
.dd-collapsed .dd-list,
.dd-collapsed .dd-collapse {
  display: none;
}
.dd-collapsed .dd-expand {
  display: block;
}
.dd-empty,
.dd-placeholder {
  margin: 5px 0;
  padding: 0;
  min-height: 30px;
  background: #f2fbff;
  border: 1px dashed #b6bcbf;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
/*.dd-empty {
  border: 1px dashed #bbb;
  min-height: 100px;
  background-color: #e5e5e5;
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
}*/
.dd-dragel {
  position: absolute;
  pointer-events: none;
  z-index: 9999;
}
.dd-dragel > .dd-item .dd-handle {
  margin-top: 0;
}
.dd-dragel .dd-handle {
  box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
}

.dd-nochildren .dd-placeholder {
  display: none;
}
.dd-item .menu-item-buttons {
  margin-top: -30px;
  /*float: right;*/
  /*display: none;*/
}
.dd-item .menu-item-buttons span {
  margin: 0 10px;
  cursor: pointer;
}
.dd-item .menu-item-buttons span:hover {
  color: #2ea8e5; 
}
.dd3-handle {
    position: absolute;
    margin: 0;
    left: 0;
    top: -5px;
    cursor: pointer;
    width: 30px;
    text-indent: 30px;
    white-space: nowrap;
    overflow: hidden;
    border: 1px solid #aaa;
    background: #ddd;
    background: -webkit-linear-gradient(top, #ddd 0%, #bbb 100%);
    background: -moz-linear-gradient(top, #ddd 0%, #bbb 100%);
    background: linear-gradient(top, #ddd 0%, #bbb 100%);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.dd3-handle:before {
    content: '≡';
    display: block;
    position: absolute;
    left: 0;
    top: 3px;
    width: 100%;
    text-align: center;
    text-indent: 0;
    color: #aaa;
    font-size: 20px;
    font-weight: normal;
}
.dd3-handle:hover {
    border: 1px solid #ccc;
}
.dd-handle {
    display: block;
    height: 30px;
    margin: 5px 0;
    padding: 5px 10px;
    color: #333;
    text-decoration: none;
    font-size: 10px;
    font-weight: 700;
    border: 1px solid #ccc;
    background: #fafafa;
    border-radius: 3px;
    box-sizing: border-box;
}
.dd3-content {
    display: block;
    height: 30px;
    margin: 5px 0;
    padding: 5px 10px 5px 40px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #ccc;
    background: #fafafa;
    background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
    background: -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
    background: linear-gradient(top, #fafafa 0%, #eee 100%);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.dd3-content:hover {
    background: #fff;
}
.modules-list-item {
    min-height: 20px;
    padding: 5px;
    margin: 0px 5px 5px 0px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.custom-file-input{
	opacity:1;
}
.custom-file-input label i{
	margin-right:5px;
}
.control-sidebar{
	height:cacl(100vh - 50px);
	overflow:auto;
}