@media (max-width: 961px) {
  .fix--h1 {
    text-align: right !important;
  }
}
/* .section-inner.feature{
  padding-top: 80px;
} */

#navigation > li {
  display: block;
  transition-duration: 0.5s;
 }
 
 #navigation > li:hover {
   cursor: pointer;
 }
 
 #navigation > ul li ul {
   visibility: hidden;
   opacity: 0;
   position: absolute;
   transition: all 0.5s ease;
   margin-top: 0px!important;
   left: 0;
   display: none;
   background: #000;
   border-top: 2px solid #fff;
 }

 #navigation > ul li ul.dropdown {
  width:200px;
}
 
 #navigation > ul li:hover > ul,
 #navigation > ul li ul:hover {
   visibility: visible;
   opacity: 1;
   display: block;
   padding-left: 0!important;
   overflow: hidden;
 }
 
 #navigation > ul li ul li {
   clear: both;
   width: 100%;
 }
 #navigation > ul li ul li a{
   clear: both;
   width: 100%;
   padding: 10px 20px;
 }
