<template>
    <div class="btn-group">
        <button type="button" class="btn btn-warning btn-flat dropdown-toggle" data-toggle="dropdown">Export
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li id="copyButton"><a href="#"><i class="fal fa-clone"></i> Copy</a></li>
            <li id="csvButton"><a href="#"><i class="fal fa-file-text"></i> CSV</a></li>
            <li id="excelButton"><a href="#"><i class="fal fa-file-pdf"></i> Excel</a></li>
            <li id="pdfButton"><a href="#"><i class="fal fa-file-pdf"></i> PDF</a></li>
            <li id="printButton"><a href="#"><i class="fal fa-print"></i> Print</a></li>
        </ul>
    </div>
</template>
<script>
export default {
  props: [],

  data() {
    return {};
  }
};
</script>
